<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fliper 1</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="">
	<div class="fliper"><!-- fliper -->
		<header><!-- header -->
			<div class="header-content">
				<a href="#" class="logo"></a>
				<a href="#" class="logout"></a>
				<div class="user-name">
					space_MAN: <span>4576382</span>
				</div>
				<div class="clear"></div>
			</div>
		</header><!-- .header -->
		<section class="prize-state state-all">
			<div class="hex">
				<img src="content/p-1.png" alt="">
			    <a href="#"></a>
			    <div class="hx"></div>
			    <span>1</span>
			</div>
			<div class="v-line"></div>
			<div class="hex prize-two">
				<span class="count-1">567</span>
				<span class="count-2">1 567</span>
				<img src="content/d1.png" alt="">
			    <a href="#"></a>
			    <div class="hx"></div>
			</div>
		</section>
		<section class="info-panel"><!-- info-panel -->

			<div class="lives-count-container"><!-- lives-count-container -->
				<i class="live-icon active"></i>
				<i class="live-icon"></i>
				<i class="live-icon"></i>
				<i class="live-icon"></i>
				<i class="live-icon"></i>
				<div class="glass"></div>
				<div class="counters">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"><i></i></div>
					<i class="distance-icon">
						<span>200</span>
					</i>
					<i class="price-icon">
						<span>567</span>
					</i>
				</div>
			</div><!-- .lives-count-container -->

			<div class="mark"><!-- mark -->
				<i class="mark-1"><i></i></i>
				<span>350</span>
			</div><!-- .mark -->
			<div class="mark"><!-- mark -->
				<i class="mark-2"><i></i></i>
				<span>500</span>
			</div><!-- .mark -->
			<div class="mark price"><!-- mark -->
				<i class="mark-3 active">
					<span>7</span>
					<i></i>
				</i>
				<span>40 000</span>
				<div class="price-slider">
					<div id="slider"></div>
				</div>
			</div><!-- .mark -->
			<div class="mark bank"><!-- mark -->
				<i class="mark-4"><i></i></i>
				<span>350</span>
				<span class="transfer-count">+0</span>
			</div><!-- .mark -->
			<div class="mark"><!-- mark -->
				<i class="mark-5"><i></i></i>
				<span>500</span>
			</div><!-- .mark -->
			<div class="mark-line"><!-- mark-line -->
				<div class="mark"><!-- mark -->
					<i class="mark-6">
						<span>256</span>
					</i>
				</div><!-- .mark -->
				<div class="mark"><!-- mark -->
					<i class="mark-7">
						<span>11</span>
					</i>
				</div><!-- .mark -->
				<div class="mark"><!-- mark -->
					<i class="mark-8">
						<span>10</span>
					</i>
				</div><!-- .mark -->
				<div class="mark"><!-- mark -->
					<i class="mark-9">
						<span>20</span>
					</i>
				</div><!-- .mark -->
				<div class="mark"><!-- mark -->
					<i class="mark-10">
						<span>3</span>
					</i>
				</div><!-- .mark -->
			</div><!-- .mark-line -->
		</section><!-- .info-panel -->
		<section class="prizes-carusel fliper-question"><!-- message-wrap -->
			<div class="message-form flip-info"><!-- message-form -->
				<form action="/">
					<div class="load-photo"><!-- load-photo -->
						<img src="content/i1.png" alt="">
					</div><!-- .load-photo -->
					<div class="load-photo"><!-- load-photo -->
						<img src="content/i2.png" alt="">
					</div><!-- .load-photo -->
					<div class="load-photo"><!-- load-photo -->
						<img src="content/i3.png" alt="">
					</div><!-- .load-photo -->
					<div class="clear"></div>
					
					<div class="question">Сколько пар хромосом у человека?</div>

					<div class="answer-fl error">
						<div class="ansver">45 пар хромосом</div>
						<div class="line"></div>
					</div>
					<div class="answer-fl">
						<div class="ansver">22 пар хромосом</div>
						<div class="line"></div>
					</div>
					<div class="answer-fl">
						<div class="ansver">23 пар хромосом</div>
						<div class="line"></div>
					</div>
					<div class="answer-fl">
						<div class="ansver">23 пар хромосом</div>
						<div class="line"></div>
					</div>
					<div class="time-line">
						<div class="time"></div>
					</div>
				</form>
			</div><!-- .message-form -->
		</section><!-- .message-wrap -->
		<section class="full-panel flipper-panel">
			<div class="coordinats-selection">
				<div class="line line-1"><div class="dot"></div></div>
				<div class="line line-2"></div>
				<div class="line line-3"></div>
				<div class="line line-4"><div class="dot"></div></div>
				<div class="coordinat coordinat-x">
					<span>x</span>
					<input type="text" name="" value="1000" id="">
				</div>
				<div class="coordinat coordinat-y">
					<span>y</span>
					<input type="text" name="" value="1000" id="">
				</div>
				<div class="coordinat coordinat-z">
					<span>z</span>
					<input type="text" name="" value="1000" id="">
				</div>
				<a href="#" class="coordinat-submit"></a>
			</div>
			<a href="#" class="c-icon-5 c-icon"></a>
			<a href="#" id="show-helps" class="c-icon-6 c-icon"></a>
			<a href="#" class="c-icon-7 c-icon"></a>
		</section>
	</div><!-- .fliper -->
	<div id="draggable" class="current-coordinats">
		<div>1000 <sup>x</sup></div>
		<div>365 <sup>y</sup></div>
		<div>650 <sup>z</sup></div>
	</div>
</body>
</html>