*{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
.clear{
    clear: both;
}
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    font: 11px Arial, Helvetica, sans-serif;
    background: #000 url(../images/space.jpg) no-repeat;
}
i{
    font-style: normal;
}
.fliper{
    width: 100%;
    min-width: 1600px;
    min-height: 900px;
    background-size: cover;
    position: relative;
}
header{
    height: 54px;
    background: #001d2f url(../images/header.png) top center no-repeat;
}
header .header-content{
    height: 54px;
    background: url(../images/header-border.png) bottom center no-repeat;
}
header a.logo{
    display: block;
    height: 54px;
    width: 178px;
    background: url(../images/sprite.png) -1502px -49px no-repeat;
    float: left;
    margin: 2px 0 0 4px;
}
header a.logo:hover{
    background-position: -1502px -218px;
}
header a.logo:active{
    background-position: -1502px -393px;
}
header .user-name{
    float: right;
    background: url(../images/user-name-bg.png);
    border: 1px #1e485a solid;
    border-radius: 7px;
    padding: 5px 10px;
    color: #94fdfe;
    font-size: 14px;
    text-shadow: 0px 0px 7px #66f6fb;
    text-transform: uppercase;
    margin: 13px 15px 0 0;
    font-weight: bold;
}
header .user-name span{
    color: #0099ff;
    text-shadow: 0px 0px 17px #66f6fb;
}
header .logout{
    display: block;
    float: right;
    width: 38px;
    height: 37px;
    background: url(../images/sprite.png) -1412px -58px;
    margin: 10px 12px 0 0;
}
header .logout:hover{
    background-position: -1413px -222px;
}
header .logout:active{
    background-position: -1413px -220px;
}
.info-panel{
    position: absolute;
    left: 0;
    top: 85px;
    width: 372px;
    height: 300px;
    white-space: nowrap;
}
.lives-count-container{
    position: relative;
    height: 32px;
    margin: 0 0 26px 12px;
}
.lives-count-container .glass{
    position: absolute;
    left: 0;
    top: 0;
    width: 159px;
    height: 35px;
    background: url(../images/sprite.png) -1722px -58px no-repeat;
}
.lives-count-container i.live-icon{
    background: url(../images/sprite.png) -1767px -101px;
    display: inline-block;
    width: 22px;
    height: 16px;
    margin: 8px 0 0 4px;
}
.lives-count-container i.live-icon:first-child{
    margin-left: 17px;
}
.lives-count-container i.live-icon.active{
    background-position: -1741px -101px;
}
.lives-count-container .counters{
    position: absolute;
    width: 14px;
    height: 30px;
    top: 26px;
    left: 1px;
}
.lives-count-container .counters .line{
    position: absolute;
    width: 28px;
    background: url(../images/line.png) 0 0 repeat-x;
    height: 3px;
    top: -31%;
    left: 157px;
    margin-top: -2px;
}
.lives-count-container .counters .line i{
    display: block;
    width: 8px;
    height: 9px;
    background: url(../images/dot.png);
    position: absolute;
    right: -7px;
    top: -91%;
}
.lives-count-container .counters .line + .line{
    width: 26px;
    left: 215px;
}
.lives-count-container .counters .line + .line + .line{
    width: 19px;
    left: 271px;
}
.lives-count-container .counters .distance-icon,
.lives-count-container .counters .price-icon{
    background: url(../images/sprite.png) -2021px -111px;
    width: 30px;
    height: 31px;
    position: absolute;
    left: 185px;
    top: -25px;
}
.lives-count-container .counters .price-icon{
    background-position: -2102px -111px;
    left: 241px;
}
.lives-count-container .counters .distance-icon span,
.lives-count-container .counters .price-icon span{
    font-size: 12px;
    color: #00f9ff;
    font-weight: bold;
    position: absolute;
    top: -6px;
    left: 32px; 
}
.mark{
    margin: 0 0 -20px 5px;
}
.mark-line{
    overflow: hidden;
    margin: 10px 0 0 10px;
}
.mark-line .mark{
    margin: 0 0 0 -6px;
    float: left;
}
.mark-line .mark:first-child{
    margin-left: 0;
}
.mark > i{
    width: 71px;
    height: 71px;
    display: inline-block;
    text-align: center;
    line-height: 72px;
    position: relative;
}
.mark > i span{
    font-size: 12px;
    left: 53px;
    position: absolute;
    top: 5px;
    font-weight: bold;
    color: #00f9ff;
    line-height: normal;
}
.mark-line .mark > i span{
    left: 48px;
    top: -1px;
}
.mark > i.active{
    background: url(../images/sprite.png) -1913px -38px;
}
.mark > i i{
    width: 35px;
    height: 32px;
    line-height: 32px;
    background: url(../images/sprite.png);
    display: inline-block;
    vertical-align: middle;
}
.mark > i.mark-1 i{
    background-position: -2264px -58px;
}
.mark > i.mark-2 i{
    background-position: -2346px -59px;
}
.mark > i.mark-3 i{
    background-position: -2021px -56px;
}
.mark > i.mark-4 i{
    background-position: -2102px -59px;
}
.mark > i.mark-5 i{
    background-position: -2183px -58px;
}

.mark > i.mark-6{
    background: url(../images/sprite.png) -2416px -46px;
}
.mark > i.mark-7{
    background: url(../images/sprite.png) -2499px -46px;
}
.mark > i.mark-8{
    background: url(../images/sprite.png) -2577px -46px;
}
.mark > i.mark-9{
    background: url(../images/sprite.png) -2662px -46px;
}
.mark > i.mark-10{
    background: url(../images/sprite.png) -2742px -46px;
}
.mark span{
    font-size: 16px;
    color: #0099ff;
    vertical-align: middle;
    line-height: 16px;
    font-weight: bold;
    position: relative;
    left: -11px;
}
.full-panel{
    text-align: center;
    position: absolute;
    height: 60px;
    width: 1260px;
    left: 50%;
    margin-left: -639px;
    bottom: 20px;
}
.full-panel a{
    width: 37px;
    height: 48px;
    vertical-align: middle;
    display: block;
    background: url(../images/sprite.png);
    left: 50%;
    position: absolute;
}
.full-panel a.c-icon-5,
.full-panel a.c-icon-12,
.full-panel a.c-icon-13,
.full-panel a.c-icon-14,
.full-panel a.c-icon-15,
.full-panel a.c-icon-7{
    width: 77px;
    height: 59px;
    line-height: 59px;
}
.full-panel a.c-icon-1{
    background-position: -8px -63px;
    height: 28px;
    width: 20px;
    margin: 16px 0 0 -670px;
}
.full-panel a.c-icon-2{
    background-position: -124px -60px;
    height: 32px;
    width: 30px;
    margin: 16px 0 0 -540px;
}
.full-panel a.c-icon-3{
    background-position: -250px -58px;
    height: 31px;
    width: 24px;
    margin: 8px 0 0 -410px;
}
.full-panel a.c-icon-4{
    background-position: -378px -61px;
    height: 28px;
    width: 34px;
    margin: 12px 0 0 -281px;
}
.full-panel a.c-icon-5{
    background-position: -516px -46px;
    height: 59px;
    margin: 0 0 0 -144px;
}
.full-panel a.c-icon-12{
    background-position: -516px -106px;
    height: 59px;
    margin: 0 0 0 -144px;
}
.full-panel a.c-icon-6{
    background-position: -651px -56px;
    height: 39px;
    width: 36px;
    margin: 10px 0 0 -9px;
}
.full-panel a.c-icon-7{
    background-position: -747px -46px;
    height: 59px;
    margin: 0px 0 0 86px;
}
.full-panel a.c-icon-13{
    background-position: -746px -106px;
    height: 59px;
    margin: 0px 0 0 86px;
}
.full-panel a.c-icon-8{
    background-position: -939px -65px;
    height: 27px;
    width: 25px;
    margin: 16px 0 0 279px;
}
.full-panel a.c-icon-9{
    background-position: -1063px -62px;
    height: 36px;
    width: 32px;
    margin: 13px 0 0 406px;
}
.full-panel a.c-icon-10{
    background-position: -1191px -62px;
    height: 31px;
    width: 30px;
    margin: 15px 0 0 540px;
}
.full-panel a.c-icon-11{
    background-position: -1304px -60px;
    height: 32px;
    width: 30px;
    margin: 12px 0 0 671px;
}
.full-panel a.c-icon-1:hover{
    background-position: -8px -232px;
}
.full-panel a.c-icon-2:hover{
    background-position: -124px -229px;
}
.full-panel a.c-icon-3:hover{
    background-position: -250px -227px;
}
.full-panel a.c-icon-4:hover{
    background-position: -378px -230px;
}
.full-panel a.c-icon-5:hover{
    background-position: -516px -215px;
}
.full-panel a.c-icon-12:hover{
    background-position: -516px -275px;
}
.full-panel a.c-icon-6:hover{
    background-position: -651px -225px;
}
.full-panel a.c-icon-7:hover{
    background-position: -747px -215px;
}
.full-panel a.c-icon-13:hover{
    background-position: -746px -275px;
}
.full-panel a.c-icon-8:hover{
    background-position: -939px -234px;
}
.full-panel a.c-icon-9:hover{
    background-position: -1063px -231px;
}
.full-panel a.c-icon-10:hover{
    background-position: -1191px -231px;
}
.full-panel a.c-icon-11:hover{
    background-position: -1304px -229px;
}
.full-panel a.c-icon-1:active{
    background-position: -8px -229px;
}
.full-panel a.c-icon-2:active{
    background-position: -124px -227px;
}
.full-panel a.c-icon-3:active{
    background-position: -250px -225px;
}
.full-panel a.c-icon-4:active{
    background-position: -378px -227px;
}
.full-panel a.c-icon-5:active{
    background-position: -516px -213px;
}
.full-panel a.c-icon-12:active{
    background-position: -516px -273px;
}
.full-panel a.c-icon-6:active{
    background-position: -651px -223px;
}
.full-panel a.c-icon-7:active{
    background-position: -747px -213px;
}
.full-panel a.c-icon-13:active{
    background-position: -746px -273px;
}
.full-panel a.c-icon-8:active{
    background-position: -939px -231px;
}
.full-panel a.c-icon-9:active{
    background-position: -1063px -229px;
}
.full-panel a.c-icon-10:active{
    background-position: -1191px -229px;
}
.full-panel a.c-icon-11:active{
    background-position: -1304px -227px;
}

section.prizes-carusel,
section.flipper-sec{
    width: 877px;
    margin: 132px auto 0;
    padding-bottom: 195px;
    position: relative;
}
.hex{
    float: left;
    position: relative;
    height: 66px;
    width: 146px;
    margin-top: 40px;
    margin-left: 7px;
    margin-bottom: 8px;
    text-align: center;
}
.hex .hx{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 66px;
    width: 146px;
    background: url(../images/sprite.png) -2852px -41px;
}
.hex .hx:before,
.hex .hx:after{
    content: '';
    position: absolute;
    display: block;
    width: 146px;
    height: 41px;
    left: 0;
}
.hex .hx:before{
    top: -41px;
    background: url(../images/sprite.png) -2852px 0;
}
.hex .hx:after{
    bottom: -41px;
    background: url(../images/sprite.png) -2852px -107px;
}
.hex.no-parts .hx{
    background-position: -3031px -41px;
}
.hex.no-parts .hx:before{
    background-position: -3031px 0;
}
.hex.no-parts .hx:after{
    background-position: -3031px -107px;
}

.hex.active .hx:before,
.tab .hex .hx:before{
    background-position: -3209px 0;
}
.hex.active .hx:after,
.tab .hex .hx:after{
    background-position: -3209px -107px;
}
.hex.active .hx,
.tab .hex .hx{
    background-position: -3209px -41px;
}
.hex.sub-active .hx:before{
    background-position: -3555px 0;
}
.hex.sub-active .hx:after{
    background-position: -3555px -107px;
}
.hex.sub-active .hx{
    background-position: -3555px -41px;
}

.hex.sub-active:hover .hx:before,
.hex.sub-active.active .hx:before{
    background-position: -3555px -171px;
}
.hex.sub-active:hover .hx:after,
.hex.sub-active.active .hx:after{
    background-position: -3555px -278px;
}
.hex.sub-active:hover .hx,
.hex.sub-active.active .hx{
    background-position: -3555px -212px;
}

.hex a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}
.prizes-carusel .row{
    padding-left: 59px;
}
.prizes-carusel .row .hex:first-child,
.prizes-carusel .row .hex.first{
    margin-left: 0;
}
.prizes-carusel .tab .row .hex:first-child{
    margin-left: 76px;
}
.prizes-carusel .tab .row + .row .hex:first-child{
    margin-left: 151px;
}
.prizes-carusel .tab .row + .row + .row .hex:first-child{
    margin-left: 227px;
}
.prizes-carusel .tab .row + .row + .row + .row .hex:first-child{
    margin-left: 303px;
}
.prizes-carusel .left-arrow,
.prizes-carusel .right-arrow{
    height: 64px;
    width: 53px;
    position: absolute;
    top: 41px;
    background: url(../images/sprite.png);
}
.prizes-carusel .left-arrow{
    background-position: -3731px -44px;
    left: 0;
}
.prizes-carusel .right-arrow{
    background-position: -3843px -44px;
    right: 0;
}
.prizes-carusel .left-arrow:hover{
    background-position: -3731px -213px;
}
.prizes-carusel .right-arrow:hover{
    background-position: -3843px -213px;
}
.prizes-carusel .left-arrow:active{
    background-position: -3731px -211px;
}
.prizes-carusel .right-arrow:active{
    background-position: -3843px -211px;
}
.hex .count-1,
.hex .count-2{
    color: #00f9ff;
    font-size: 12px;
    position: absolute;
    font-weight: bold;
}
.hex .count-1{
    top: -22px;
    width: 100%;
    text-align: center;
    left: 0;
}
.hex .count-2{
    bottom: -7px;
    left: 88px;
}
.hex:hover .count-1,
.hex:hover .count-2{
    color: #3df55c;
}
.tab{
    display: none;
}
.prizes-carusel > .row .hex span{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #00f9ff;
    font-weight: bold;
    bottom: -28px;
}
/* helps-on */
.helps-on .lives-count-container i.live-icon{
    background-position: -1766px -578px;
    height: 18px;
    margin-top: 7px;
}
.helps-on .lives-count-container i.live-icon.active{
    background-position: -1742px -578px;
}
.helps-on header .logout{
    background-position: -1415px -568px;
}
.helps-on header .logout:active{
    background-position: -1415px -566px;
}
.helps-on .full-panel a.c-icon-1,
.helps-on .full-panel a.c-icon-1:hover{
    margin: 16px 0 0 -666px;
    background-position: 0px -574px;
    width: 35px;
}
.helps-on .full-panel a.c-icon-2,
.helps-on .full-panel a.c-icon-2:hover{
    background-position: -111px -574px;
    width: 52px;
    margin: 16px 0 0 -552px;
}
.helps-on .full-panel a.c-icon-3,
.helps-on .full-panel a.c-icon-3:hover{
    background-position: -240px -572px;
    width: 38px;
    margin: 16px 0 0 -415px;
}
.helps-on .full-panel a.c-icon-4,
.helps-on .full-panel a.c-icon-4:hover{
    background-position: -372px -572px;
    width: 36px;
    height: 30px;
    margin: 15px 0 0 -288px;
}
.helps-on .full-panel a.c-icon-5,
.helps-on .full-panel a.c-icon-5:hover{
    background-position: -514px -558px;
}
.helps-on .full-panel a.c-icon-12,
.helps-on .full-panel a.c-icon-12:hover{
    background-position: -514px -498px;
}
.helps-on .full-panel a.c-icon-6,
.helps-on .full-panel a.c-icon-6:hover{
    background-position: -650px -569px;
    /*margin: 9px 0 0 -9px;*/
}
.helps-on .full-panel a.c-icon-7,
.helps-on .full-panel a.c-icon-7:hover{
    background-position: -746px -560px;
    /*margin: 0px 0 0 87px;*/
}
.helps-on .full-panel a.c-icon-13,
.helps-on .full-panel a.c-icon-13:hover{
    background-position: -745px -498px;
    /*margin: 0px 0 0 87px;*/
}
.helps-on .full-panel a.c-icon-8,
.helps-on .full-panel a.c-icon-8:hover{
    background-position: -932px -572px;
    width: 40px;
    margin: 14px 0 0 273px;
}
.helps-on .full-panel a.c-icon-9,
.helps-on .full-panel a.c-icon-9:hover{
    background-position: -1063px -568px;
    height: 38px;
    margin: 10px 0 0 404px;
}
.helps-on .full-panel a.c-icon-10,
.helps-on .full-panel a.c-icon-10:hover{
    background-position: -1179px -571px;
    margin: 13px 0 0 542px;
    width: 40px;
    height: 37px;
}
.helps-on .full-panel a.c-icon-11,
.helps-on .full-panel a.c-icon-11:hover{
    background-position: -1295px -572px;
    margin: 14px 0 0 670px;
    width: 42px;
}

.helps-on .full-panel a.c-icon-1:active{
    background-position: 0px -572px;
}
.helps-on .full-panel a.c-icon-2:active{
    background-position: -111px -572px;
}
.helps-on .full-panel a.c-icon-3:active{
    background-position: -240px -570px;
}
.helps-on .full-panel a.c-icon-4:active{
    background-position: -372px -570px;
}
.helps-on .full-panel a.c-icon-5:active{
    background-position: -514px -556px;
}
.helps-on .full-panel a.c-icon-12:active{
    background-position: -514px -496px;
}
.helps-on .full-panel a.c-icon-6:active{
    background-position: -650px -567px;
}
.helps-on .full-panel a.c-icon-7:active{
    background-position: -746px -558px;
}
.helps-on .full-panel a.c-icon-13:active{
    background-position: -745px -496px;
}
.helps-on .full-panel a.c-icon-8:active{
    background-position: -932px -570px;
}
.helps-on .full-panel a.c-icon-9:active{
    background-position: -1063px -566px;
}
.helps-on .full-panel a.c-icon-10:active{
    background-position: -1179px -569px;

}
.helps-on .full-panel a.c-icon-11:active{
    background-position: -1295px -570px;
}
.helps-on .mark > i.mark-3 i {
    background-position: -2019px -572px;
}
.helps-on .mark > i.mark-4 i {
    background-position: -2102px -573px;
    width: 37px;
}
.helps-on .mark > i.mark-5 i {
    background-position: -2178px -571px;
    height: 34px;
    width: 44px;
    line-height: 34px;
}
.helps-on .mark > i.mark-1 i {
    background-position: -2264px -575px;
    width: 46px;
}
.helps-on .mark > i.mark-2 i {
    background-position: -2346px -579px;
    width: 40px;
}

.helps-on .mark > i.mark-6{
    background-position: -2416px -563px;
}
.helps-on .mark > i.mark-7{
    background-position: -2497px -561px;
}
.helps-on .mark > i.mark-8{
    background-position: -2577px -562px;
}
.helps-on .mark > i.mark-9{
    background-position: -2662px -561px;
}
.helps-on .mark > i.mark-10{
    background-position: -2743px -562px;
}

/* new */
.mark{
    position: relative;
}
.mark.price.active span{
    color: #66ff66;
}
.mark.bank .transfer-count{
    font-size: 16px;
    color: #66ff66;
    font-weight: bold;
    position: absolute;
    left: 50px;
    top: 29px;
    display: none;
}
.mark.bank.active span{
    color: #66ff66;
}
.mark.price .transfer-count{
    font-size: 16px;
    color: #66ff66;
    font-weight: bold;
    position: absolute;
    left: 50px;
    top: 29px;
    display: none;
}
.current-coordinats{
    width: 52px;
    height: 69px;
    padding: 13px 16px;
    background: url(../images/sprite.png) -1852px -156px;
    position: absolute;
    z-index: 200;
    bottom: 100px;
    left: 100px;
    cursor: move;
    text-align: right;
    color: #0099ff;
    font-size: 16px;
    font-weight: bold;
}
.current-coordinats:hover{
    background-position: -1852px -255px;
}
.current-coordinats div sup{
    font-size: 14px;
    color: #b5e61d;
    line-height: 14px;
}
.coordinats-selection{
    height: 72px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -90px;
}
.coordinats-selection .coordinat{
    position: absolute;
    left: 50%;
    top: 10px;
    width: 97px;
    height: 54px;
    font-weight: bold;
    background: url(../images/sprite.png) -1723px -156px;
}
.coordinats-selection .coordinat.coordinat-x{
    margin-left: -201px;
}
.coordinats-selection .coordinat.coordinat-y{
    margin-left: -91px;
}
.coordinats-selection .coordinat.coordinat-z{
    margin-left: 19px;
}
.coordinats-selection .coordinat.focus,
.coordinats-selection.active .coordinat{
    background-position: -1723px -219px;
}
.coordinats-selection .coordinat-submit{
    width: 99px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 131px;
    background-position: -1718px -295px;
}
.coordinats-selection.active .coordinat-submit{
    background-position: -1718px -444px;
}
.coordinats-selection .line{
    position: absolute;
    width: 15px;
    background: url(../images/line-2.png) 0 0 repeat-x;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
}
.coordinats-selection.active .line{
    background-position: 0 -2px;
}
.coordinats-selection .line .dot{
    background: url(../images/dot-2.png);
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
}
.coordinats-selection.active .dot{
    background-position: -7px 0;
}
.coordinats-selection .line.line-1{
    margin-left: -224px;
    width: 24px;
}
.coordinats-selection .line.line-1 .dot{
    left: -7px;
}
.coordinats-selection .line.line-2{
    margin-left: -105px;
}
.coordinats-selection .line.line-3{
    margin-left: 5px;
}
.coordinats-selection .line.line-4{
    margin-left: 114px;
    width: 11px;
}
.coordinats-selection .line.line-4 .dot{
    right: -7px;
}
.coordinats-selection.active .line.line-4{
    width: 17px;
}
.coordinats-selection .coordinat span{
    position: absolute;
    top: 11px;
    right: 17px; 
    color: #b5e61d;
    font-size: 14px;
}
.coordinats-selection .coordinat input{
    position: absolute;
    left: 17px;
    top: 8px;
    font-size: 18px;
    color: #00f6ff;
    font-weight: bold;
    text-align: center;
    border: 0;
    width: 62px;
    padding: 7px 0;
    background: transparent;
    outline: 0;
}
.price-slider{
    position: absolute;
    width: 153px;
    height: 9px;
    top: 35px;
    left: 50px;
    display: none;
}
.ui-slider-horizontal{
    height: 2px;
}
.ui-widget-content{
    border: 0;
    background: url(../images/line-2.png) 0 0;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
    background: url(../images/slider-dot.png);
    border: 0!important;
    outline: 0;
}
.ui-slider .ui-slider-handle{
    width: 8px;
    height: 8px;
}
.ui-slider-horizontal .ui-slider-handle{
    top: -4px;
    margin-left: -4px;
}
.prize-state{
    position: absolute;
    right: 30px;
    top: 80px;
}
.prize-state .hex{
    float: none;
    margin-bottom: 38px;
    margin-top: 38px;
}
.prize-state .hex span{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #00f9ff;
    font-weight: bold;
    bottom: -28px;
}
.prize-state .hex.prize-two span.count-1{
    top: -22px;
    width: 100%;
    text-align: center;
    left: 0;
}
.prize-state .hex.prize-two span.count-2{
    bottom: -7px;
    left: 88px;
    width: auto;
}
.prize-state .hex.prize-two .hx{
    background-position: -3207px -212px;
}
.prize-state .hex.prize-two .hx:after{
    background-position: -3207px -278px;
}
.prize-state .hex.prize-two .hx:before{
    background-position: -3207px -171px;
}
.v-line{
    width: 14px;
    margin: 0 auto;
    height: 15px;
    background: url(../images/v-line.png) 3px 0 repeat-y;
}



/* shop */
.shop-item{
    position: relative;
    margin-bottom: 34px;
}
.shop-item .num-fl{
    position: absolute;
    width: 165px;
    height: 52px;
    background: url(../images/sprite.png) -2013px -346px;
    left: 297px;
    top: -10px;
}
.shop-item input[type="submit"]{
    width: 52px;
    height: 56px;
    border: 0;
    background: url(../images/sprite.png) -2138px -185px;
    position: absolute;
    left: 462px;
    top: -11px;
    cursor: pointer;
}
.shop-item input[type="submit"]:hover{
    background-position: -2138px -269px;
}
.shop-item input[type="submit"]:active{
    background-position: -2138px -267px;
}
.num-fl.active{
    background-position: -2013px -407px;
}
.num-fl span{
    font-size: 16px;
    color: #0099ff;
    font-weight: bold;
    display: inline-block;
    width: 111px;
    text-align: center;
    right: 16px;
    top: 50%;
    margin-top: -9px;
    position: absolute;
}
.shop-item .glass span{
    position: absolute;
    font-size: 12px;
    color: #00f9ff;
    font-weight: bold;
    top: -6px;
    right: -15px;
    display: block;
    text-align: left;
    width: 15px;
}
.shop-block-1 {
    float: left;
    margin-right: 80px;
    width: 500px;
}
.shop-block-2 {
    float: left;

}
.shop-block-2 .shop-item{
    position: relative;
    top: -10px;
    margin-bottom: 11px;
}
.shop-block-2 .shop-item i.line,
.shop-block-1 .shop-item-r i.icon-p1 i.line,
.shop-block-1 .shop-item-r i.icon-p2 i.line{
    height: 2px;
    width: 18px;
    background: url(../images/line-2.png);
    position: absolute;
    left: 51px;
    top: 29px;
}
.shop-block-2 .shop-item .num-fl{
    left: 71px;
    top: 3px;
}
.shop-block-2 .shop-item input[type="submit"]{
    left: 236px;
    top: 2px;
    background-position: -2016px -185px;
}
.shop-block-2 .shop-item input[type="submit"]:hover{
    background-position: -2016px -269px;
}
.shop-block-2 .shop-item input[type="submit"]:active{
    background-position: -2016px -267px;
}

.shop-block-2 .shop-item input[type="submit"].rub{
    left: 236px;
    top: 2px;
    background-position: -2265px -185px
}
.shop-block-2 .shop-item input[type="submit"].rub:hover{
    background-position: -2265px -269px;
}
.shop-block-2 .shop-item input[type="submit"].rub:active{
    background-position: -2265px -267px;
}

.shop-block-1 .shop-item input[type="submit"].star{
    background-position: -2016px -185px;
}
.shop-block-1 .shop-item input[type="submit"].star:hover{
    background-position: -2016px -269px;
}
.shop-block-1 .shop-item input[type="submit"].star:active{
    background-position: -2016px -267px;
}

.mark > i.mark-11 {
    background: url(../images/sprite.png) -2593px -162px;
}
.num-fl .count-min,
.num-fl .counter-plus{
    width: 12px;
    height: 16px;
    position: absolute;
    top: 20px;
    background: url(../images/sprite.png) 0 0;
    z-index: 2;
}
.num-fl .count-min{
    background-position: -2406px -205px;
    left: 50px;
}
.num-fl .counter-plus{
    background-position: -2460px -205px;
    right: 27px;
}
.num-fl .count-min:hover{
    background-position: -2406px -290px;
}
.num-fl .counter-plus:hover{
    background-position: -2460px -290px;
}
.num-fl .count-min:active{
    background-position: -2406px -288px;
}
.num-fl .counter-plus:active{
    background-position: -2460px -288px;
}
i.icon-price, i.icon-star, i.icon-p1, i.icon-p2{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/sprite.png) -2102px -112px;
}
i.icon-star{
    background-position: -2168px -113px;
}
.shop-block-2 i.icon-price i.line,
.shop-block-2 i.icon-star i.line,
.shop-block-1 .shop-item-r i.icon-p1 i.line,
.shop-block-1 .shop-item-r i.icon-p2 i.line{
    left: 30px;
    top: 14px;
}
.shop-block-2 i.icon-price,
.shop-block-2 i.icon-star {
    margin: 15px 0 0 26px;
}
.shop-item .total{
    left: -102px;
    top: 14px;
    position: absolute;
    width: 110px;
    height: 32px;
    text-align: center;
    color: #18a5e8;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    background: url(../images/sprite.png) -1850px -375px;
}
.shop-item .total i.line{
    left: 110px;
    top: 15px;
}
.shop-item.total-f{
    margin-top: 70px;
    margin-bottom: 18px;
}
.shop-item-r i.icon-p1{
    background-position: -2265px -59px;
    margin: 2px 0 0 140px;
}
.shop-item-r i.icon-p2{
    background-position: -2347px -60px;
    margin: 2px 0 0 140px;
}
.shop-item.shop-item-r .num-fl{
    left: 185px;
}
.shop-item.shop-item-r {
    margin-bottom: 31px;
}
.shop-item.shop-item-r input[type="submit"]{
    left: 350px;
}
.shop-item.shop-item-r.shop-item-c-top {
    margin-top: 98px;
    margin-bottom: 89px;
}
.full-panel.flipper-panel a.c-icon-5{
    background-position: -516px -106px;
}
.full-panel.flipper-panel a.c-icon-5:hover{
    background-position: -516px -275px;
}
.helps-on .full-panel.flipper-panel a.c-icon-7, 
.helps-on .full-panel.flipper-panel a.c-icon-7:hover{
    background-position: -745px -498px;
}
.helps-on .full-panel.flipper-panel a.c-icon-7:active{
    background-position: -745px -496px;
}
.helps-on .full-panel.flipper-panel a.c-icon-5, 
.helps-on .full-panel.flipper-panel a.c-icon-5:hover{
    background-position: -516px -498px;
}
.helps-on .full-panel.flipper-panel a.c-icon-5:active{
    background-position: -516px -496px;
}
.full-panel.flipper-panel a.c-icon-5:active{
    background-position: -516px -273px;
}
/* messages */
.message-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}
.message-form{
    width: 783px;
    padding-left: 27px;
    margin: 40px auto 0;
    background: url(../images/lines.png) 0 209px no-repeat;
    position: relative;
}
.message-form.flip-info{
    background: none;
}
.message-form .load-photo{
    width: 185px;
    height: 185px;
    float: left;
    margin-left: 52px;
    margin-bottom: 33px;
    background: url(../images/sprite.png) -2212px -340px;
}

.message-form .load-photo img{
    border-radius: 15px;
    margin: 4px 0 0 5px;
}
.message-form .load-photo:first-child{
    margin-left: 56px;
}
.message-form .load-photo .select-fl{
    margin: 71px 0 84px 64px;
    width: 61px;
    height: 47px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: url(../images/sprite.png) -2829px -410px;
}
.message-form .load-photo .select-fl:hover{
    background: url(../images/sprite.png) -2463px -410px;
}
.message-form .load-photo .select-fl:active{
    background: url(../images/sprite.png) -2463px -408px;
}
.message-form .load-photo .select-fl input{
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor: pointer;
    font-size: 200px;
}
.message-form .slide-bt{
    width: 152px;
    text-align: center;
}
.message-form .slide-bt.message-send{
    margin-left: 322px;
}
.message-form .load-photo .slide-bt{
    margin: 9px auto 0;
}
.message-form .slide-bt i{
    background: url(../images/sprite.png);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.message-form .slide-bt i.del{
    width: 22px;
    height: 24px;
    background-position: -2425px -769px;
}
.message-form .slide-bt i.del.active{
    background-position: -2451px -769px;
}
.message-form .slide-bt i.loader{
    width: 27px;
    height: 24px;
    background-position: -2481px -768px;
}
.message-form .slide-bt i.loader.active{
    background-position: -2511px -768px;
}
.slider-l{
    width: 33px;
    display: inline-block;
    height: 17px;
    position: relative;
    background: none;
    margin-left: 9px;
}
.bt-vertical .slider-l{
    margin-left: 0;
    margin-top: 49px;
    width: 17px;
    height: 33px;
}
.message-form .slide-bt .slide{
    text-align: left;
    display: inline-block;
    position: relative;
    width: 87px;
    height: 17px;
    background: url(../images/sprite.png) -2590px -344px;
    vertical-align: middle;
}
.message-form .slide-bt .slide a{
    position: absolute;
    width: 45px;
    height: 10px;
    background: url(../images/sprite.png) -2590px -362px;
    /*left: 4px;
    top: 3px;*/
}
.info-fl,
.question-fl,
.answer-fl{
    width: 683px;
    height: 65px;
    background: url(../images/sprite.png) -3110px -509px;
    padding: 20px 50px;
    margin-top: 31px;
}
.info-fl textarea,
.question-fl textarea,
.answer-fl input{
    border:0;
    resize: none;
    outline: 0;
    color: #66ff66;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.question-fl{
    height: 43px;
    background-position: -3110px -721px;
}
.answer-fl{
    height: 30px;
    width: 674px;
    background-position: -2315px -649px;
    padding: 3px 50px;
    margin-bottom: 29px;
}
.info-fl.focus{
    background-position: -3110px -616px;
}
.question-fl.focus{
    background-position: -3109px -804px;
}
.answer-fl.focus{
    background-position: -2314px -676px;
}
.answer-fl.error{
    background-position: -2314px -724px;
}
.message-form .slide-bt.vertical{
    position: absolute;
    top: 98px;
    left: -10px;
    width: 22px;
}
.message-form .slide-bt.vertical .slide{
    height: 87px;
    width: 17px;
    background-position: -2591px -373px;
}
.message-form .slide-bt.vertical .slide a{
    height: 45px;
    width: 10px;
    background-position: -2591px -465px;
    /*left: 4px;
    top: 4px;*/
}
.message-form .slide-bt.bt-horisontal .slide a{
    top: 3px;
}
.message-form .slide-bt.bt-vertical .slide a{
    left: 4px;
}
::-webkit-input-placeholder{
    font-family: Arial;
    color: #005a5d;
    font-size: 16px;
    font-weight: bold;
}
::-moz-placeholder {
    font-family: Arial;
    color: #005a5d;
    font-size: 16px;
    font-weight: bold;
}
.message-form .slide-bt.vertical i.del{
    background-position: -2427px -769px;
}
.message-form .slide-bt.vertical i.del.active{
    background-position: -2453px -769px;
}
.infol-block{
    text-align: left;
    font-size: 16px;
    color: #00f9ff;
    font-weight: bold;
    height: 62px;
    overflow: hidden;
}
.infol-block.scrolling-container{
    height: 330px;
    padding-left: 60px;
}
.info-fl.scrolling-container{
    width: 729px;
    padding-right: 0;
}

.scrolling-container textarea{
    width:697px; 
    height:56px; 
    border:none; 
    background:transparent; 
    resize:none; 
    margin:0; 
    overflow:hidden; 
    line-height:20px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    outline:none; 
    color: #66ff66;
}
.scrolling-container .textarea-wrapper{
    height:66px;
    overflow:hidden; 
}
.hiddendiv{
    position:absolute; 
    top:-9999px; 
    left:-9999px; 
    visibility:hidden; 
    white-space: pre-wrap; 
    width: 686px; 
    min-height: 56px; 
    line-height:20px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    word-wrap: break-word;
}
.mCSB_scrollTools{
    box-sizing:border-box; 
    padding:5px 0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    margin-bottom: 10px;
}
.message-form .question{
    height: 200px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 770px;
}
.message-form .question,
.info-fl .question,
.answer-fl .ansver{
    font-size: 16px; 
    color: #00f4fb;
    font-weight: bold;
    text-align: center;
}
.answer-fl .ansver{
    padding-top: 6px;
}
.fliper-question .answer-fl{
    margin-left: 1px;
    margin-top: 20px;
    margin-bottom: 21px;
    position: relative;
}
.prizes-carusel.fliper-question{
    margin-top: 0px;
}
.fliper-question .answer-fl:hover{
    background-position: -2315px -676px;
}
.fliper-question .answer-fl.right{
    background-position: -2315px -676px;
}
.fliper-question .answer-fl.error{
    background-position: -2315px -724px;
}
.fliper-question .info-fl{
    position: relative;
}
.fliper-question .time-line{
    width: 18px;
    height: 599px;
    background: url(../images/sprite.png) -3090px -276px;
    position: absolute;
    top: 0;
    right: -35px;
    padding: 4px 0;
}
.fliper-question .info-fl .line{
    height: 2px;
    background: url(../images/line-3.png);
    position: absolute;
    width: 30px;
    right: -17px;
    top: 52px;
}
.fliper-question .answer-fl .line{
    height: 2px;
    background: url(../images/line-3.png);
    position: absolute;
    width: 30px;
    right: -25px;
    top: 17px;
}
.fliper-question .time-line .time{
    width: 12px;
    height: 600px;
    position: absolute;
    background: #01ff00;
    border-radius: 5px;
    left: 3px;
    bottom: 3px;
}
.fliper-question .time-line .time.proc-0{
    height:0px;
}
.fliper-question .time-line .time.proc-1{
    height:0px;
}
.fliper-question .time-line .time.proc-2{
    height: 12px;
    background: #ff0100;
}
.fliper-question .time-line .time.proc-3{
    background: #ff0400;
    height: 18px;
}
.fliper-question .time-line .time.proc-4{
    height: 24px;
    background: #ff0700;
}
.fliper-question .time-line .time.proc-5{
    background: #ff0b00;
    height: 30px;
}
.fliper-question .time-line .time.proc-6{
    background: #ff0f00;
    height: 36px;
}
.fliper-question .time-line .time.proc-7{
    background: #ff1300;
    height: 42px;
}
.fliper-question .time-line .time.proc-8{
    background: #ff1800;
    height: 48px;
}
.fliper-question .time-line .time.proc-9{
    background: #ff1d00;
    height: 54px;
}
.fliper-question .time-line .time.proc-10{
    background: #ff2200;
    height: 60px;
}
.fliper-question .time-line .time.proc-11{
    background: #ff2700;
    height: 66px;
}
.fliper-question .time-line .time.proc-12{
    background: #ff2c00;
    height: 72px;
}
.fliper-question .time-line .time.proc-13{
    background: #ff3200;
    height: 78px;
}
.fliper-question .time-line .time.proc-14{
    background: #ff3800;
    height: 84px;
}
.fliper-question .time-line .time.proc-15{
    background: #ff3e00;
    height: 90px;
}
.fliper-question .time-line .time.proc-16{
    background: #ff4500;
    height: 96px;
}
.fliper-question .time-line .time.proc-17{
    background: #ff4b00;
    height: 102px;
}
.fliper-question .time-line .time.proc-18{
    background: #ff5200;
    height: 108px;
}
.fliper-question .time-line .time.proc-19{
    background: #ff5900;
    height: 114px;
}
.fliper-question .time-line .time.proc-20{
    background: #ff5f00;
    height: 120px;
}
.fliper-question .time-line .time.proc-21{
    background: #ff5f00;
    height: 120px;
}
.fliper-question .time-line .time.proc-22{
    background: #ff6600;
    height: 126px;
}
.fliper-question .time-line .time.proc-23{
    background: #ff6d00;
    height: 132px;
}
.fliper-question .time-line .time.proc-24{
    background: #ff7300;
    height: 138px;
}
.fliper-question .time-line .time.proc-25{
    background: #ff7b00;
    height: 144px;
}
.fliper-question .time-line .time.proc-26{
    background: #ff8900;
    height: 150px;
}
.fliper-question .time-line .time.proc-27{
    background: #ff8f00;
    height: 162px;
}
.fliper-question .time-line .time.proc-28{
    background: #ff9600;
    height: 168px;
}
.fliper-question .time-line .time.proc-29{
    background: #ff9d00;
    height: 174px;
}
.fliper-question .time-line .time.proc-30{
    background: #ffa300;
    height: 180px;
}
.fliper-question .time-line .time.proc-31{
    background: #ffaa00;
    height: 186px;
}
.fliper-question .time-line .time.proc-32{
    background: #ffb100;
    height: 192px;
}
.fliper-question .time-line .time.proc-33{
    background: #ffb700;
    height: 198px;
}
.fliper-question .time-line .time.proc-34{
    background: #ffbe00;
    height: 204px;
}
.fliper-question .time-line .time.proc-35{
    background: #ffc300;
    height: 210px;
}
.fliper-question .time-line .time.proc-36{
    background: #ffc900;
    height: 216px;
}
.fliper-question .time-line .time.proc-37{
    background: #ffd000;
    height: 222px;
}
.fliper-question .time-line .time.proc-38{
    background: #ffd500;
    height: 228px;
}
.fliper-question .time-line .time.proc-39{
    background: #ffda00;
    height: 234px;
}
.fliper-question .time-line .time.proc-40{
    background: #ffdf00;
    height: 240px;
}
.fliper-question .time-line .time.proc-41{
    background: #ffe400;
    height: 246px;
}
.fliper-question .time-line .time.proc-42{
    background: #ffe900;
    height: 252px;
}
.fliper-question .time-line .time.proc-43{
    background: #ffee00;
    height: 258px;
}
.fliper-question .time-line .time.proc-44{
    background: #fff200;
    height: 264px;
}
.fliper-question .time-line .time.proc-45{
    background: #fff600;
    height: 270px;
}
.fliper-question .time-line .time.proc-46{
    background: #fff900;
    height: 276px;
}
.fliper-question .time-line .time.proc-47{
    background: #fffc00;
    height: 282px;
}
.fliper-question .time-line .time.proc-48{
    background: #ffff00;
    height: 288px;
}
.fliper-question .time-line .time.proc-49{
    background: #fcff00;
    height: 294px;
}
.fliper-question .time-line .time.proc-50{
    background: #f9ff00;
    height: 300px;
}
.fliper-question .time-line .time.proc-51{
    background: #f6ff00;
    height: 306px;
}
.fliper-question .time-line .time.proc-52{
    background: #f3ff00;
    height: 312px;
}
.fliper-question .time-line .time.proc-53{
    background: #efff00;
    height: 318px;
}
.fliper-question .time-line .time.proc-54{
    background: #ebff00;
    height: 325px;
}
.fliper-question .time-line .time.proc-55{
    background: #e6ff00;
    height: 330px;
}
.fliper-question .time-line .time.proc-56{
    background: #e2ff00;
    height: 336px;
}
.fliper-question .time-line .time.proc-57{
    background: #ddff00;
    height: 342px;
}
.fliper-question .time-line .time.proc-58{
    background: #d9ff00;
    height: 348px;
}
.fliper-question .time-line .time.proc-59{
    background: #d4ff00;
    height: 354px;
}
.fliper-question .time-line .time.proc-60{
    background: #cfff00;
    height: 360px;
}
.fliper-question .time-line .time.proc-61{
    background: #caff00;
    height: 366px;
}
.fliper-question .time-line .time.proc-62{
    background: #c4ff00;
    height: 372px;
}
.fliper-question .time-line .time.proc-63{
    background: #bfff00;
    height: 378px;
}
.fliper-question .time-line .time.proc-64{
    background: #b9ff00;
    height: 384px;
}
.fliper-question .time-line .time.proc-65{
    background: #b3ff00;
    height: 390px;
}
.fliper-question .time-line .time.proc-66{
    background: #adff00;
    height: 396px;
}
.fliper-question .time-line .time.proc-67{
    background: #a7ff00;
    height: 402px;
}
.fliper-question .time-line .time.proc-68{
    background: #a1ff00;
    height: 408px;
}
.fliper-question .time-line .time.proc-69{
    background: #9cff00;
    height: 414px;
}
.fliper-question .time-line .time.proc-70{
    background: #95ff00;
    height: 420px;
}
.fliper-question .time-line .time.proc-71{
    background: #8fff00;
    height: 426px;
}
.fliper-question .time-line .time.proc-72{
    background: #89ff00;
    height: 432px;
}
.fliper-question .time-line .time.proc-73{
    background: #83ff00;
    height: 438px;
}
.fliper-question .time-line .time.proc-74{
    background: #7dff00;
    height: 444px;
}
.fliper-question .time-line .time.proc-75{
    background: #76ff00;
    height: 450px;
}
.fliper-question .time-line .time.proc-76{
    background: #70ff00;
    height: 456px;
}
.fliper-question .time-line .time.proc-77{
    background: #6aff00;
    height: 462px;
}
.fliper-question .time-line .time.proc-78{
    background: #64ff00;
    height: 468px;
}
.fliper-question .time-line .time.proc-79{
    background: #5eff00;
    height: 474px;
}
.fliper-question .time-line .time.proc-80{
    background: #58ff00;
    height: 480px;
}
.fliper-question .time-line .time.proc-81{
    background: #52ff00;
    height: 486px;
}
.fliper-question .time-line .time.proc-82{
    background: #4cff00;
    height: 492px;
}
.fliper-question .time-line .time.proc-83{
    background: #46ff00;
    height: 498px;
}
.fliper-question .time-line .time.proc-84{
    background: #41ff00;
    height: 504px;
}
.fliper-question .time-line .time.proc-85{
    background: #3bff00;
    height: 510px;
}
.fliper-question .time-line .time.proc-86{
    background: #35ff00;
    height: 516px;
}
.fliper-question .time-line .time.proc-87{
    background: #30ff00;
    height: 522px;
}
.fliper-question .time-line .time.proc-88{
    background: #2cff00;
    height: 528px;
}
.fliper-question .time-line .time.proc-89{
    background: #26ff00;
    height: 534px;
}
.fliper-question .time-line .time.proc-90{
    background: #22ff00;
    height: 540px;
}
.fliper-question .time-line .time.proc-91{
    background: #1dff00;
    height: 546px;
}
.fliper-question .time-line .time.proc-92{
    background: #19ff00;
    height: 552px;
}
.fliper-question .time-line .time.proc-93{
    background: #14ff00;
    height: 558px;
}
.fliper-question .time-line .time.proc-94{
    background: #10ff00;
    height: 564px;
}
.fliper-question .time-line .time.proc-95{
    background: #0dff00;
    height: 570px;
}
.fliper-question .time-line .time.proc-96{
    background: #09ff00;
    height: 576px;
}
.fliper-question .time-line .time.proc-97{
    background: #06ff00;
    height: 582px;
}
.fliper-question .time-line .time.proc-98{
    background: #03ff00;
    height: 588px;
}
.fliper-question .time-line .time.proc-99{
    background: #00ff00;
    height: 594px;
}


/* pravki */
.fliper-question .time-line{
    top: 3px;
}
.message-form .question{
    height: 139px;
}
.full-panel a.c-icon-1{
    margin: 16px 0 0 -664px;
}
/*.full-panel a.c-icon-12{
    background-position: -747px -107px;
    margin: 0px 0 0 86px;
    width: 77px;
    height: 59px;
    line-height: 59px;
}
.full-panel a.c-icon-12:hover{
    background-position: -747px -276px;
}
.full-panel a.c-icon-12:active{
    background-position: -747px -274px;
}
.helps-on .full-panel a.c-icon-12,
.helps-on .full-panel a.c-icon-12:hover{
    background-position: -746px -499px;
}
.helps-on .full-panel a.c-icon-12:active{
    background-position: -746px -497px;
}*/
.message-form, section.prizes-carusel, section.flipper-sec{
    margin-top: 45px;
}
.infol-block.scrolling-container{
    width: 743px;
    height: 262px;
    padding: 39px 35px 35px 35px;
    position: relative;
    background: url(../images/inf_fl.png) no-repeat;
}
.answer-fl{
    background-position: -2314px -628px;
}


/* 16.09.13 */
.info-fl, .question-fl{
    padding: 20px 39px;
}
.answer-fl{
    padding: 3px 39px;
    width: 696px;
}
.info-fl.scrolling-container{
    width: 740px;
}
.question-fl{
    width: 740px;
}
.scrolling-container textarea{
    padding: 0;
    margin: 0;
    width: 697px;
}
.scrolling-container .textarea-wrapper{
    height: 66px;
}
.question-fl .textarea-wrapper.mCustomScrollbar .mCSB_scrollTools{
    height: 100%;
}

.question-fl.scrolling-container .textarea-wrapper{
    height: 60px;
}
.question-fl .scrolling-container textarea{
    height: 30px;
}
.hiddendiv-q{
    position:absolute; 
    top:-9999px; 
    left:-9999px; 
    visibility:hidden; 
    white-space: pre-wrap; 
    width: 686px; 
    min-height: 30px;
    line-height:20px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    word-wrap: break-word;
}
.fliper-question .answer-fl{
    height: 32px;
    margin-bottom: 20px;
    cursor: pointer;
}
.fliper-question .answer-fl:active{
    background-position: -2315px -674px;
}

.shop-jurnal{
	margin:0;
    padding:0;
	overflow: hidden;
}

.shop-jurnal.scrolling-container{
	width: 812px;
	height: 558px;
	padding: 39px 8px 35px 35px;
	position: relative;
	background: url(../images/shop_jurnal_fl.png) no-repeat;
}

.jurnal{
	padding:2px 0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #66ff66;
}
